# Data Carpentry for a Mini Analysis (`Python`)

Data carpentry is a necessary step before we can do any type of analysis. For this exercise, we are going to clean up the `/baseball-databank/data/Master.csv` that we worked with in the practice and then run a mini analysis on it.

**Exercise 1:** With `pandas`, read in the dataset, `/dsa/data/all_datasets/baseball-databank/data/Master.csv`. Call this data frame, `df`.

In [150]:
# Code for Exercise 1 goes here
# -----------------------------
import pandas as pd
df = pd.read_csv('/dsa/data/all_datasets/baseball-databank/data/Master.csv')
df

,playerID,birthYear,birthMonth,birthDay,birthCountry,birthState,birthCity,deathYear,deathMonth,deathDay,...,nameLast,nameGiven,weight,height,bats,throws,debut,finalGame,retroID,bbrefID
0,aardsda01,1981.0,12.0,27.0,USA,CO,Denver,NaN,NaN,NaN,...,Aardsma,David Allan,220.0,75.0,R,R,2004-04-06,2015-08-23,aardd001,aardsda01
1,aaronha01,1934.0,2.0,5.0,USA,AL,Mobile,NaN,NaN,NaN,...,Aaron,Henry Louis,180.0,72.0,R,R,1954-04-13,1976-10-03,aaroh101,aaronha01
2,aaronto01,1939.0,8.0,5.0,USA,AL,Mobile,1984.0,8.0,16.0,...,Aaron,Tommie Lee,190.0,75.0,R,R,1962-04-10,1971-09-26,aarot101,aaronto01
3,aasedo01,1954.0,9.0,8.0,USA,CA,Orange,NaN,NaN,NaN,...,Aase,Donald William,190.0,75.0,R,R,1977-07-26,1990-10-03,aased001,aasedo01
4,abadan01,1972.0,8.0,25.0,USA,FL,Palm Beach,NaN,NaN,NaN,...,Abad,Fausto Andres,184.0,73.0,L,L,2001-09-10,2006-04-13,abada001,abadan01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18841,zupofr01,1939.0,8.0,29.0,USA,CA,San Francisco,2005.0,3.0,25.0,...,Zupo,Frank Joseph,182.0,71.0,L,R,1957-07-01,1961-05-09,zupof101,zupofr01
18842,zuvelpa01,1958.0,10.0,31.0,USA,CA,San Mateo,NaN,NaN,NaN,...,Zuvella,Paul,173.0,72.0,R,R,1982-09-04,1991-05-02,zuvep001,zuvelpa01
18843,zuverge01,1924.0,8.0,20.0,USA,MI,Holland,2014.0,9.0,8.0,...,Zuverink,George,195.0,76.0,R,R,1951-04-21,1959-06-15,zuveg101,zuverge01
18844,zwilldu01,1888.0,11.0,2.0,USA,MO,St. Louis,1978.0,3.0,27.0,...,Zwilling,Edward Harrison,160.0,66.0,L,L,1910-08-14,1916-07-12,zwild101,zwilldu01
18845,zychto01,1990.0,8.0,7.0,USA,IL,Monee,NaN,NaN,NaN,...,Zych,Anthony Aaron,190.0,75.0,R,R,2015-09-04,2015-10-03,zycht001,zychto01

So the columns dealing with death are not necessary for our analysis and just taking up space. Let's go ahead and get rid of them altogether. 

**Exercise 2:** Remove the `deathYear`, `deathMonth`, `deathDay`, `deathCountry`, `deathState`, and `deathCity` columns from the data frame. Rename the data frame without these columns, `df`.

In [151]:
# Code for Exercise 2 goes here
# -----------------------------
df = df.drop(columns = ['deathYear','deathMonth','deathDay','deathCountry','deathState','deathCity'])

We now need to start toward the process of combining the values in the `birhtYear`, `birthMonth` and `birthDay` so that we can turn this into a datetime column. First, we need to remove the rows where these columns have `NaN` values.

**Exercise 3:** Now remove the **rows** where the `birthYear`, `birthMonth` and `birthDay` columns are `NaN`. Be sure to reset the index. Call this data frame, `players`.

In [152]:
# Code for Exercise 3 goes here
# -----------------------------
df = df[df['birthYear'].notna()].reset_index(drop = True)
df = df[df['birthMonth'].notna()].reset_index(drop = True)
df = df[df['birthDay'].notna()].reset_index(drop = True)
df

,playerID,birthYear,birthMonth,birthDay,birthCountry,birthState,birthCity,nameFirst,nameLast,nameGiven,weight,height,bats,throws,debut,finalGame,retroID,bbrefID
0,aardsda01,1981.0,12.0,27.0,USA,CO,Denver,David,Aardsma,David Allan,220.0,75.0,R,R,2004-04-06,2015-08-23,aardd001,aardsda01
1,aaronha01,1934.0,2.0,5.0,USA,AL,Mobile,Hank,Aaron,Henry Louis,180.0,72.0,R,R,1954-04-13,1976-10-03,aaroh101,aaronha01
2,aaronto01,1939.0,8.0,5.0,USA,AL,Mobile,Tommie,Aaron,Tommie Lee,190.0,75.0,R,R,1962-04-10,1971-09-26,aarot101,aaronto01
3,aasedo01,1954.0,9.0,8.0,USA,CA,Orange,Don,Aase,Donald William,190.0,75.0,R,R,1977-07-26,1990-10-03,aased001,aasedo01
4,abadan01,1972.0,8.0,25.0,USA,FL,Palm Beach,Andy,Abad,Fausto Andres,184.0,73.0,L,L,2001-09-10,2006-04-13,abada001,abadan01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18377,zupofr01,1939.0,8.0,29.0,USA,CA,San Francisco,Frank,Zupo,Frank Joseph,182.0,71.0,L,R,1957-07-01,1961-05-09,zupof101,zupofr01
18378,zuvelpa01,1958.0,10.0,31.0,USA,CA,San Mateo,Paul,Zuvella,Paul,173.0,72.0,R,R,1982-09-04,1991-05-02,zuvep001,zuvelpa01
18379,zuverge01,1924.0,8.0,20.0,USA,MI,Holland,George,Zuverink,George,195.0,76.0,R,R,1951-04-21,1959-06-15,zuveg101,zuverge01
18380,zwilldu01,1888.0,11.0,2.0,USA,MO,St. Louis,Dutch,Zwilling,Edward Harrison,160.0,66.0,L,L,1910-08-14,1916-07-12,zwild101,zwilldu01
18381,zychto01,1990.0,8.0,7.0,USA,IL,Monee,Tony,Zych,Anthony Aaron,190.0,75.0,R,R,2015-09-04,2015-10-03,zycht001,zychto01

Right now the `players['birthYear']`, `players['birthMonth']`, and `players['birthDay']` columns are floats. We need to convert them to integers and then strings in order to make this process work.

**Exercise 4:** Convert the `players['birthYear']` and `players['birthDay']` to integers and then strings and then rename these columns `players['birthYear']` and `players['birthDay']`. **For the `players['birthMonth']` column, just change it to an integer.**

In [154]:
# Code for Exercise 4 goes here
# -----------------------------
df['birthYear'] = str(df['birthYear'].astype(int))
print(type(df['birthYear']))
df['birthDay'] = str(df['birthDay'].astype(int))
df['birthMonth'] = str(df['birthMonth'].astype(int))
players = df

ValueError: invalid literal for int() with base 10: '0        1981\n1        1934\n2        1939\n3        1954\n4        1972\n         ... \n18377    1939\n18378    1958\n18379    1924\n18380    1888\n18381    1990\nName: birthYear, Length: 18382, dt

Now that `players['birthMonth']` is an integer, we need to add a 0 to all of those months that are single digits. For example `1` will become `01`. This will help when we turn the combined rows into a datetime object. 

For this, you are going to need to run a for loop using this line within the loop, `"{:02}".format(i)`. `i` is the item in the for loop, so be sure that you are iterating over the `players.birthMonth` column. Be sure to add all of these new values to a list that will then become the new `players['birthMonth']` column.

**Exercise 5** Create a list using a for loop that takes the values in the `players['birthMonth']` column and adds a 0 to those values with only a single digit. Then assign this list of values to the `players['birthMonth']` column name.

In [137]:
# Code for Exercise 5 goes here
# -----------------------------
players.birthMonth = ["{:02}".format(i) for i in players.birthMonth]

**Exercise 6:** Create a single column that strings the values of the `players['birthYear']`, `players['birthMonth']`, and `players['birthDay']` columns together. Be sure to add a hyphen (-) in between the Year and the Month, and the between the Month and the Day. For example, if row 1 had `1950`, `08`, and `01` for the `players['birthYear']`, `players['birthMonth']`, and `players['birthDay']` columns respectively, the combined row will be `1950-08-01`. Name this row `players['birthdate']`.

*Hint: You can combine the values of string columns together through the following method: `df['column1'] + df['column2']`.*

In [140]:
# Code for Exercise 6 goes here
# -----------------------------
players['birthdate'] = players['birthYear'] + '-' + players['birthMonth'] + '-' + players['birthDay']
players

UFuncTypeError: ufunc 'add' did not contain a loop with signature matching types (dtype('<U21'), dtype('<U21')) -> dtype('<U21')

**Exercise 7:** Now turn the `players['birthdate']`, `players['debut']`, and `players['finalGame']` columns into datetime data types.

In [141]:
# Code for Exercise 7 goes here
# -----------------------------
players['birthdate'] = pd.to_datetime(players.birthdate)
players['debut'] = pd.to_datetime(players.debut)
players['finalGame'] = pd.to_datetime(players.finalGame)

ValueError: ('Unknown string format:', '0        1981\n1        1934\n2        1939\n3        1954\n4        1972\n         ... \n18377    1939\n18378    1958\n18379    1924\n18380    1888\n18381    1990\nName: birthYear, Length: 18382, dtype: int640        12\n1        02\n2        08\n3        09\n4        08\n         ..\n18377    08\n18378    10\n18379    08\n18380    11\n18381    08\nName: birthMonth, Length: 18382, dtype: object0        27\n1         5\n2         5\n3         8\n4        25\n         ..\n18377    29\n18378    31\n18379    20\n18380     2\n18381     7\nName: birthDay, Length: 18382, dtype: int64')

**Exercise 8:** Subtract the `birthdate` column from the `debut` column to find out the ages of the players when they started. You will want to call the `.astype('timedelta64[Y]')` method on this value to get the result to return in years. Call this `begin_age`.

In [8]:
# Code for Exercise 8 goes here
# -----------------------------
players['begin_age'] = (players['debut'] - players['birthdate']).astype('timedelta64[Y]')

**Exercise 9:** Find some descriptive statistics on `begin_age`. Who is the oldest person ever to debut? What is the mean age of players when they begin? The median? Standard deviation?

In [9]:
# Code for Exercise 9 goes here
# -----------------------------
players.begin_age.describe()

# Save your notebook, then `File > Close and Halt`