# Manipulating Data with `R` Exercises

In this Exercise notebook, you will be manipulating the Congress Terms data set with `R`. These data record some general information about every member in Congress dating back to the 1940s. We encourage you play get your hands dirty, and play around with this new data set to familiarize yourself with it. Be sure to follow the directions carefully and write as well as execute code in the designated cells.

**Question 1**: Read in the file `congress-terms.csv` under the `/dsa/data/all_datasets/` directory. Name this data frame "`df`".

In [6]:
# Execute your code for question 1 here
# -------------------------------------
df = read.csv('/dsa/data/all_datasets/congress-terms.csv')
head(df)
summary(df)
dim(df)

  congress chamber bioguide firstname middlename lastname  suffix birthday
1 80       house   M000112  Joseph    Jefferson  Mansfield        1861-02-09
2 80       house   D000448  Robert    Lee        Doughton         1863-11-07
3 80       house   S000001  Adolph    Joachim    Sabath           1866-04-04
4 80       house   E000023  Charles   Aubrey     Eaton            1868-03-29
5 80       house   L000296  William              Lewis            1868-09-22
6 80       house   G000017  James     A.         Gallagher        1869-01-16
  state party incumbent termstart age
1 TX    D     Yes       1/3/47    85.9
2 NC    D     Yes       1/3/47    83.2
3 IL    D     Yes       1/3/47    80.7
4 NJ    R     Yes       1/3/47    78.8
5 KY    R     No        1/3/47    78.3
6 PA    R     No        1/3/47    78.0

    congress        chamber         bioguide       firstname
 Min.   : 80.00   house :15083   D000355:   30   John   : 1453
 1st Qu.: 88.00   senate: 3552   B001210:   29   William:  935
 Median : 96.00                  I000025:   27   James  :  855
 Mean   : 96.45                  T000254:   26   Robert :  753
 3rd Qu.:105.00                  C000714:   25   Thomas :  512
 Max.   :113.00                  K000105:   25   Charles:  488
                                 (Other):18473   (Other):13639
   middlename       lastname         suffix            birthday
        : 3536   Smith  :  185          :16937   3/31/40   :   36
 E.     :  423   Johnson:  117   Jr.    : 1380   6/14/43   :   31
 J.     :  385   Miller :  115   III    :  163   7/8/26    :   30
 Joseph :  384   Davis  :   93   Sr.    :   66   11/20/17  :   28
 A.     :  374   Young  :   92   II     :   53   10/6/39   :   27
 M.     :  330   Brown  :   90   IV     :   19   1902-12-05:   26
 (Other):13203   (Other):17943   (Other):   17   (Other)   :18457
     state       party      incumbent     termstart          age
 CA     : 1534   AL:    3   No : 2937   1/3/61 :  559   Min.   :25.00
 NY     : 1347   D :10290   Yes:15698   1/3/49 :  557   1st Qu.:45.40
 TX     :  985   I :   63               1/3/53 :  557   Median :53.00
 PA     :  939   ID:    4               1/3/47 :  555   Mean   :53.31
 IL     :  849   L :    1               1/3/51 :  555   3rd Qu.:60.55
 OH     :  809   R : 8274               1/6/09 :  555   Max.   :98.10
 (Other):12172                          (Other):15297

[1] 18635    13

**Question 2**: Now split the data frame, `df`, into 2 data frames based on the Republican and Democratic party. Save them in a variables named "`republican`" and "`democrat`" respectively. Which data set has more rows?

In [8]:
# Execute your code for question 2 here
# -------------------------------------
republican = subset(df,party == 'R')
democrat = subset(df,party == 'D')
dim(republican)
dim(democrat)
#Democrat has more rows i.e. 10290

[1] 8274   13

[1] 10290    13

[1] 2016

**Question 3**:  Are there any other codes for political parties other than Democrat and Republican? If so, what are these other codes? What function did you use to find this?

In [9]:
# Write your code for question 3 here
# -------------------------------------
summary(df)

    congress        chamber         bioguide       firstname
 Min.   : 80.00   house :15083   D000355:   30   John   : 1453
 1st Qu.: 88.00   senate: 3552   B001210:   29   William:  935
 Median : 96.00                  I000025:   27   James  :  855
 Mean   : 96.45                  T000254:   26   Robert :  753
 3rd Qu.:105.00                  C000714:   25   Thomas :  512
 Max.   :113.00                  K000105:   25   Charles:  488
                                 (Other):18473   (Other):13639
   middlename       lastname         suffix            birthday
        : 3536   Smith  :  185          :16937   3/31/40   :   36
 E.     :  423   Johnson:  117   Jr.    : 1380   6/14/43   :   31
 J.     :  385   Miller :  115   III    :  163   7/8/26    :   30
 Joseph :  384   Davis  :   93   Sr.    :   66   11/20/17  :   28
 A.     :  374   Young  :   92   II     :   53   10/6/39   :   27
 M.     :  330   Brown  :   90   IV     :   19   1902-12-05:   26
 (Other):13203   (Other):17943   (Other):   17   (Other)   :18457
     state       party      incumbent     termstart          age
 CA     : 1534   AL:    3   No : 2937   1/3/61 :  559   Min.   :25.00
 NY     : 1347   D :10290   Yes:15698   1/3/49 :  557   1st Qu.:45.40
 TX     :  985   I :   63               1/3/53 :  557   Median :53.00
 PA     :  939   ID:    4               1/3/47 :  555   Mean   :53.31
 IL     :  849   L :    1               1/3/51 :  555   3rd Qu.:60.55
 OH     :  809   R : 8274               1/6/09 :  555   Max.   :98.10
 (Other):12172                          (Other):15297

Answer the question above here.
3. Yes, There are total six categories in party attribute (AL, D, I, ID, L, R). I used summary function to see the it.

**Question 4**: Sort the `republicans` and `democrats` data frames by age and return the 5 oldest and youngest from each party.

In [15]:
# Execute your code for question 4 here
# -------------------------------------
republican_age_sorted = republican[order(republican$age),]
rbind(head(republican_age_sorted,5),tail(republican_age_sorted,5))

democrat_age_sorted = democrat[order(democrat$age),]
rbind(head(democrat_age_sorted,5),tail(democrat_age_sorted,5))

      congress chamber bioguide firstname middlename lastname     suffix
8166   94      house   E000175  David     Farnham    Emery
15255 107      house   P000586  Adam      H.         Putnam
2110   83      house   W000121  William   Creed      Wampler
452    80      house   S000063  George    William    Sarbacher    Jr.
9814   97      house   L000547  John                 LeBoutillier
13082 103      senate  T000254  J.        Strom      Thurmond
13628 104      senate  T000254  J.        Strom      Thurmond
14175 105      senate  T000254  J.        Strom      Thurmond
14712 106      senate  T000254  J.        Strom      Thurmond
15256 107      senate  T000254  J.        Strom      Thurmond
      birthday   state party incumbent termstart age
8166  9/1/48     ME    R     No        1/14/75   26.4
15255 7/31/74    FL    R     No        1/3/01    26.4
2110  4/21/26    VA    R     No        1/3/53    26.7
452   9/30/19    PA    R     No        1/3/47    27.3
9814  5/26/53    NY    R     No        1/5/81    27.6
13082 1902-12-05 SC    R     Yes       1/5/93    90.1
13628 1902-12-05 SC    R     Yes       1/4/95    92.1
14175 1902-12-05 SC    R     Yes       1/7/97    94.1
14712 1902-12-05 SC    R     Yes       1/6/99    96.1
15256 1902-12-05 SC    R     Yes       1/3/01    98.1

      congress chamber bioguide firstname middlename lastname   suffix
5423   89      house   J000151  Jed       Joseph     Johnson    Jr.
453    80      house   B000401  Lloyd     Millard    Bentsen    Jr.
8167   94      house   D000471  Thomas    Joseph     Downey
5422   89      house   G000420  William   Joseph     Green
14174 105      house   F000262  Harold    E.         Ford       Jr.
5968   90      senate  H000385  Carl      Trumbull   Hayden
18091 112      senate  I000025  Daniel    K.         Inouye
3764   86      senate  G000418  Theodore  Francis    Green
18635 113      senate  L000123  Frank     R.         Lautenberg
17536 111      senate  B001210  Robert    C.         Byrd
      birthday   state party incumbent termstart age
5423  12/27/39   OK    D     No        1/4/65    25.0
453   2/11/21    TX    D     No        1/3/47    25.9
8167  1/28/49    NY    D     No        1/14/75   26.0
5422  6/24/38    PA    D     No        1/4/65    26.5
14174 5/11/70    TN    D     No        1/7/97    26.7
5968  1877-10-02 AZ    D     Yes       1/10/67   89.3
18091 9/6/20     HI    D     Yes       1/5/11    90.3
3764  1867-10-02 RI    D     Yes       1/7/59    91.3
18635 1/22/20    NJ    D     Yes       1/3/13    93.0
17536 11/19/13   WV    D     Yes       1/6/09    95.1

**Question 5**: Now, let's start using the package `dplyr` to perform some basic data manipulations. If you noticed, the `df$chamber` column contains whether or not the individual belonged to the `house` or the `senate`. Using `dplyr` create a frame of data that returns the youngest member from each chamber per party (including those other than Republican or Democrat).

In [67]:
# Execute your code for question 5 here
# -------------------------------------
library(dplyr)
dim(df)
df_house = df %>%
    filter(chamber == "house") %>%
    arrange(party,age)
dim(df_house)
write.csv(df_house,"df_house.csv")
df_senate = df %>%
    filter(chamber == "senate") %>%
    arrange(party,age)       
dim(df_senate)
#print(df_house)
write.csv(df_senate,"df_senate.csv")

#Answers
# HOUSE - AL: 36.7 , D:25 , I: 49.3, ID: 42.9 , L: 34.4, R:26.4
# SENATE - AL: NA , D:25 , I: 35, ID: 64.9 , L: NA, R:32.1

[1] 18635    13

[1] 15083    13

[1] 3552   13

**Question 6**: Now, using `dplyr`, create the same frame as above except for the oldest member per chamber, per party.

In [68]:
# Execute your code for question 6 here
# ---------------------------------
library(dplyr)
dim(df)
df_house = df %>%
    filter(chamber == "house") %>%
    arrange(party,-age)
dim(df_house)
write.csv(df_house,"df_house_reverse.csv")
df_senate = df %>%
    filter(chamber == "senate") %>%
    arrange(party,-age)       
dim(df_senate)
#print(df_house)
write.csv(df_senate,"df_senate_reverse.csv")
#Answers
# HOUSE - AL: 46.1 , D:88.3 , I: 63.3, ID: 45.7 , L: 34.4, R:89.7
# SENATE - AL: NA , D:95.1 , I: 71.3, ID: 66.9 , L: NA, R:98.1

[1] 18635    13

[1] 15083    13

[1] 3552   13

# Save your notebook, then `File > Close and Halt`